Intermediate
Saved
.vsconfig
Moba.sln
.vs
Binaries
DerivedDataCache
Buff
/Content
Global
Gradients
Icon
Lens
Liquid
Masks
Minion_Specific
Misc
MuzzleFlashes
NormalShapes
PlayerBuffs
Runes
Smoke
Sparks
Tech
Tile
trails
Water
/Content/ParagonMinions/FX/Textures/Gradients
/Content/ParagonMinions/FX/Textures/Icon
/Content/ParagonMinions/FX/Textures/Lens
/Content/ParagonMinions/FX/Textures/Liquid
/Content/ParagonMinions/FX/Textures/Masks
/Content/ParagonMinions/FX/Textures/Minion_Specific
/Content/ParagonMinions/FX/Textures/Misc
/Content/ParagonMinions/FX/Textures/MuzzleFlashes
/Content/ParagonMinions/FX/Textures/NormalShapes
/Content/ParagonMinions/FX/Textures/PlayerBuffs
/Content/ParagonMinions/FX/Textures/Runes
/Content/ParagonMinions/FX/Textures/Smoke
/Content/ParagonMinions/FX/Textures/Sparks
/Content/ParagonMinions/FX/Textures/Tech
/Content/ParagonMinions/FX/Textures/Tile
/Content/ParagonMinions/FX/Textures/trails
/Content/ParagonMinions/FX/Textures/Water
